.cardContainer {
  margin: 30px;
}

.CharacterCard {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.CharacterCard:hover {
  transform: translateX(10px);
}

.heartButton {
  background-color: transparent;
  border: none;
}
.CharacterCard {
  width: 600px;
  padding-left: 85px !important;
  padding-right: 85px !important;
}

.CardGroups {
  display: flex;
  margin-bottom: 40px;
}

li {
  list-style: none;
}

.loading {
  color: aliceblue;
  margin: 0 auto;
  display: block !important;
}

.error {
  color: aliceblue;
  margin: 0 auto;
  display: block !important;
}
