.cardContainer {
  margin: 30px;
}

.CharacterCard {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.CharacterCard:hover {
  transform: translateX(10px);
}

.heartButton {
  background-color: transparent;
  border: none;
}
.CharacterCard {
  width: 600px;
}

.IndividualCard {
  display: flex;
}
