body {
  background-color: rgb(12, 12, 12);
}

.titles {
  color: crimson;
}

.cardContainer {
  margin: 30px;
}

.heartButton {
  background-color: transparent;
  border: none;
}

/* .heartButton i.fa-regular.fa-heart {
} */
