.navbar {
  background-color: aquamarine;

  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  margin-bottom: 50px; */
}

.navbarContent {
  padding: 5px;
  margin-top: 10px;
}

.Logo {
  width: 8rem;
  height: 7rem;
}

.dropdown {
  color: aqua;
}

.btn {
  color: black;
  background: gold;
  margin-right: 10px;
}

.dropdown-menu {
  background-color: aliceblue;
}
